<section class="section">
  <div class="container">
    <div class="row first">
      <div class="col-sm-8 col-lg-8 col-12">
        <h1>Enabling students to better understand anatomy </h1>
        <h3>Through our Virtual Reality solutions  </h3>
        <p> Medical students consider anatomy as one of the most difficult subjects to wrap their heads around. By providing anatomy classes in virtual reality, we support students in mastering their understanding of human anatomy.</p>
        <%= link_to "Request a demo", contact_path, class: "btn-brand btn-start" %>
      </div>
      <div class="col-sm-4 col-lg-4 col-12 topbanner">
        <div class="image-container">
          <%= image_tag "homepage1.png", class: "image-1" %>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="row-1">
      <div class="col-10">
        <h2> We <span class="red-text"> simplify </span> complex anatomy <br> so teachers can <span class="red-text"> focus </span> on teaching </h2>
        </div>
      </div>
      <div class="container-text">
        <div class="row">
          <div class="col-sm-6 col-12">
            <p> MedicalVR combines 3D-models of human anatomy and advanced Virtual Reality visualization techniques. Our solution is an addition to the current medical curriculum in which students get taught during classes, from anatomy books and in dissection rooms. </p>
          </div>
          <div class="col-sm-6 col-12">
            <p>Through the many interviews we conducted with medical students we found out that they find it difficult to learn how anatomic structures are built. Images in the books and classes are - literally - flat. In real-life they are three-dimensional. Our tool allows students to visualize an anatomic structure in 3D and gives them a 3D-mental representation. </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="sectionsecond">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-lg-8 col-12">
          <h1> Educating Next Generation’s Medical Specialists </h1>
          <h5> It’s a puzzle. We help putting the pieces together. </h5>
          <p> The Virtual Reality programs we develop are custom-built in order to satisfy the didactical needs and requirements of universities and hospitals. The VR Classes range from general anatomy to tailor-made training for medical specialists. MedicalVR assembles classes based on the desired curriculum in order to adapt to your precise learnings needs. </p>
          <div>
          <%= link_to "Develop VR", contact_path, class: "btn-brand only-mobile" %>
          <%= link_to "Educate Your Students", contact_path, class: "btn-brand btn-explore" %>
          </div>
        </div>
        <div class="col-sm-4 col-lg-4 col-12 topbanner-2">
          <div class="image-container">
          <%= image_tag "homepage2.png", class: "image-1" %>
        </div>
      </div>
    </div>
  </section>

  <section class="sectionthree">
    <div class="container">
      <div class="row-1">
        <div class="col-lg-g">
          <h1> The Benefits </h1>
          <p> Focus on teaching and let your custom-created VR teaching tools take your students to a higher level.  </p>
        </div>
      </div>
      <div class="container-three">
        <div class="row">
          <div class="col-sm-4 col-12">
            <i class="fab fa-leanpub fa-8x"></i>
            <h2> Interactive Learning </h2>
            <p>Instead of learning from books or slides the VR environment offer models with which the students can interact. Students pick a specific module and practise elements, review the anatomy and learn in a fun, interactive way.</p>
          </div>
          <div class="col-sm-4 col-12 ">
            <i class="fas fa-angle-double-down fa-8x"></i>
            <h2> Reduce Costs </h2>
            <p> Virtual Reality training allows students to dedicate time and effort to learn skills set in a virtual environment. The simulated environment offers a representation of reality. This preparation of students in VR-simulation prior to their training in dissection rooms reduces costs by large margins.  </p>
          </div>
          <div class="col-sm-4 col-12">
            <i class="fas fa-sync-alt fa-8x"></i>
            <h2> Repetitive Learning </h2>
            <p>By practising in the virtual environment, students can perform a specific exercise. They have the ability to repeatedly redo it until they have completed it or gained a sufficient level to complete the task with confidence.</p>
          </div>
        </div>
      </div>
      <div>
      <%= link_to "Request a demo", contact_path, class: "btn-brand btn-start" %>
    </div>
      <div class="btn-margin">
        <br>
      </div>
  </section>

  <div class="text-center footerfixed">
  <ul class="list-inline">
    <li> <strong> MedicalVR 2020 </strong> </li>
  </ul>
</div>


