<section class="section">
  <div class="container">
  <div class="row temp">
    <div class="col-12">
      <h1> Work in progress<span class="red-text">...</span> </h1>
    </div>

     <!-- Begin Mailchimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">

  /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
     We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">

  <form action="https://gmail.us20.list-manage.com/subscribe/post?u=82ff8df0fba3c358b635eece3&amp;id=ddae197350" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate fullbox" target="_blank" novalidate>
    <div id="mc_embed_signup_scrolls">
      <h2> <span class="red-text"> Can't wait? </span> Please leave your details below<span class="red-text">. </span> </h2>
      <div class="mc-field-group contactform">
        <label for="mce-NAME">Name (required) </label>
        <input type="text" value="" name="NAME" class="field required" id="mce-NAME">
      </div>
      <div class="mc-field-group contactform">
        <label for="mce-EMAIL">Email Address (required) </label>
        <input type="email" value="" name="EMAIL" class="field required email" id="mce-EMAIL">
      </div>
      <div class="mc-field-group contactform">
        <label for="mce-MMERGE3">Subject </label>
        <input type="text" value="" name="MMERGE3" class="field" id="mce-MMERGE3">
      </div>
      <div class="mc-field-group contactform textarea">
        <label for="mce-MMERGE6">Your Message (required) </label>
        <textarea type="text" value="" name="MMERGE6" class="field required" id="mce-MMERGE6"> </textarea>
      </div>
      <div id="mce-responses" class="clear">
        <div class="response" id="mce-error-response" style="display:none"></div>
        <!-- <div class="response" id="mce-success-response" style="display:none"></div> -->
      </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_82ff8df0fba3c358b635eece3_ddae197350" tabindex="-1" value=""></div>
      <div class="sendbtn"><input type="submit" value="Send" name="subscribe" id="mc-embedded-subscribe" class="button sendbtn"></div>
    </div>
  </form>
</div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[6]='MMERGE6';ftypes[6]='text';fnames[7]='NAME';ftypes[7]='text';fnames[3]='MMERGE3';ftypes[3]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>

<script>
  const target = document.getElementById('mce-success-response');
​
  // create an observer instance
  const observer = new MutationObserver(function(mutations) {
    mutations.forEach(function(mutation) {
    if (target.innerHTML === "Thank you for subscribing!") {
      target.innerHTML = "Check your email!";
    }
    });
  });
​
  // configuration of the observer:
  const config = { attributes: true, childList: true, characterData: true };
​
  // pass in the target node, as well as the observer options
  observer.observe(target, config);
</script>
<!--End mc_embed_signup-->

  </div>
   </div>
 </section>

<!--
<section class="section">
  <div class="container">
    <div class="row first">
      <div class="col-sm-8 col-lg-8 col-12">
        <h1>Enabling students to better understand anatomy </h1>
        <h3>Through our Virtual Reality solutions  </h3>
        <p> Medical students consider anatomy as one of the most difficult subjects to wrap their heads around. By providing anatomy classes in virtual reality, we support students in mastering their understanding of human anatomy.</p>
        <%= link_to "Request a demo", contact_path, class: "btn-brand btn-start" %>
      </div>
      <div class="col-sm-4 col-lg-4 col-12 topbanner">
        <div class="image-container">
          <%= image_tag "homepage1.png", class: "image-1" %>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="row-1">
      <div class="col-10">
        <h2> We <span class="red-text"> simplify </span> complex anatomy <br> so teachers can <span class="red-text"> focus </span> on teaching </h2>
        </div>
      </div>
      <div class="container-text">
        <div class="row">
          <div class="col-sm-6 col-12">
            <p> MedicalVR combines 3D-models of human anatomy and advanced Virtual Reality visualization techniques. Our solution is an addition to the current medical curriculum in which students get taught during classes, from anatomy books and in dissection rooms. </p>
          </div>
          <div class="col-sm-6 col-12">
            <p>Through the many interviews we conducted with medical students we found out that they find it difficult to learn how anatomic structures are built. Images in the books and classes are - literally - flat. In real-life they are three-dimensional. Our tool allows students to visualize an anatomic structure in 3D and gives them a 3D-mental representation. </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="sectionsecond">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-lg-8 col-12">
          <h1> Educating Next Generation’s Medical Specialists </h1>
          <h5> It’s a puzzle. We help putting the pieces together. </h5>
          <p> The Virtual Reality programs we develop are custom-built in order to satisfy the didactical needs and requirements of universities and hospitals. The VR Classes range from general anatomy to tailor-made training for medical specialists. MedicalVR assembles classes based on the desired curriculum in order to adapt to your precise learnings needs. </p>
          <div>
          <%= link_to "Develop VR", contact_path, class: "btn-brand only-mobile" %>
          <%= link_to "Educate Your Students", contact_path, class: "btn-brand btn-explore" %>
          </div>
        </div>
        <div class="col-sm-4 col-lg-4 col-12 topbanner-2">
          <div class="image-container">
          <%= image_tag "homepage2.png", class: "image-1" %>
        </div>
      </div>
    </div>
  </section>

  <section class="sectionthree">
    <div class="container">
      <div class="row-1">
        <div class="col-lg-g">
          <h1> The Benefits </h1>
          <p> Focus on teaching and let your custom-created VR teaching tools take your students to a higher level.  </p>
        </div>
      </div>
      <div class="container-three">
        <div class="row">
          <div class="col-sm-4 col-12">
            <i class="fab fa-leanpub fa-8x"></i>
            <h2> Interactive Learning </h2>
            <p>Instead of learning from books or slides the VR environment offer models with which the students can interact. Students pick a specific module and practise elements, review the anatomy and learn in a fun, interactive way.</p>
          </div>
          <div class="col-sm-4 col-12 ">
            <i class="fas fa-angle-double-down fa-8x"></i>
            <h2> Reduce Costs </h2>
            <p> Virtual Reality training allows students to dedicate time and effort to learn skills set in a virtual environment. The simulated environment offers a representation of reality. This preparation of students in VR-simulation prior to their training in dissection rooms reduces costs by large margins.  </p>
          </div>
          <div class="col-sm-4 col-12">
            <i class="fas fa-sync-alt fa-8x"></i>
            <h2> Repetitive Learning </h2>
            <p>By practising in the virtual environment, students can perform a specific exercise. They have the ability to repeatedly redo it until they have completed it or gained a sufficient level to complete the task with confidence.</p>
          </div>
        </div>
      </div>
      <div>
      <%= link_to "Request a demo", contact_path, class: "btn-brand btn-start" %>
    </div>
      <div class="btn-margin">
        <br>
      </div>
  </section>

  <div class="text-center footerfixed">
  <ul class="list-inline">
    <li> <strong> MedicalVR 2020 </strong> </li>
  </ul>
</div> -->


